<!-- Banner -->
<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <p style="color: #fff;">Conoce Nuestros Programas.</p>
    </header>
  </div>
</div>
<footer>
  <div class="wrapper style2" id="banner">
    <div class="ContainerCirculos">
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <p>Programa de Calidad de Agua</p>
          <img src="../../../../images/Logos/Circulo1.png" alt="">
          <div class="Genialy">
            <div class="container-wrapper-genially"><video class="loader-genially" autoplay="autoplay" loop="loop"
                playsinline="playsInline" muted="muted">
                <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser
                does not
                support the video tag.</video>
              <div id="5f9e0e325d01a40d4a97fc3b" class="genially-embed"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <p>Programa de Residuos Sólidos</p>
          <img src="../../../../images/Logos/Circulo2.png" alt="">
          <div class="Genialy">
            <div class="container-wrapper-genially"><video class="loader-genially" autoplay="autoplay" loop="loop"
                playsinline="playsInline" muted="muted">
                <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser
                does not
                support the video tag.</video>
              <div id="5f9f00e80c6fbe0d0f39aa7c" class="genially-embed"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <p>Programa de Plagas y Vectores</p>
          <img src="../../../../images/Logos/Circulo3.png" alt="">
          <h1 class="popup__title" style="color: #fff ;">Conoce el eje de plagas y vectores del proyecto plan de
            saneamiento básico en la vereda San Roque</h1>
          <div class="Genialy">
            <div class="container-wrapper-genially"><video class="loader-genially" autoplay="autoplay" loop="loop"
                playsinline="playsInline" muted="muted">
                <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser
                does not
                support the video tag.</video>
              <div id="5f9f6e72918e3b0d2a834415" class="genially-embed"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <p>Programa de Aguas Residuales</p>
          <img src="../../../../images/Logos/Circulo4.png" alt="">
          <h1 class="popup__title" style="color: #fff ;">Conoce el eje de aguas residuales del proyecto plan de
            saneamiento básico en la vereda San Roque</h1>
          <div class="Genialy">
            <div class="container-wrapper-genially"><video class="loader-genially" autoplay="autoplay" loop="loop"
                playsinline="playsInline" muted="muted">
                <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser
                does not
                support the video tag.</video>
              <div id="5f9f18df918e3b0d2a833da4" class="genially-embed"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <p>Programa de Limpieza y Desinfección</p>
          <img src="../../../../images/Logos/Circulo5.png" alt="">
          <h1 class="popup__title" style="color: #fff ;">Conoce el eje de aguas residuales del proyecto plan de
            saneamiento básico en la vereda San Roque</h1>
          <div class="Genialy">
            <div class="container-wrapper-genially"><video class="loader-genially" autoplay="autoplay" loop="loop"
                playsinline="playsInline" muted="muted">
                <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser
                does not
                support the video tag.</video>
              <div id="5f9f3c535210480d31d80940" class="genially-embed"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
