<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <h1><a href="index.html" id="logo">Equipo de Proyectistas</a></h1>
    </header>
  </div>
</div>
<!-- Main -->
<div class="wrapper style1">

  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-mobile" id="content">
        <article id="main">
          <header>
            <h2><a href="#">Conoce Nuestro Equipo</a></h2>
          </header>
        </article>
      </div>
      <div class="" id="sidebar">
        <section>
          <header>
            <h3><a href="#">¡Conócenos!</a></h3>
          </header>
          <p>
            Somos estudiantes de decimo semestre de ingeniería ambiental y sanitaria, de
            la Universidad de La Salle, cursando actualmente la asignatura practica de servicio social.
            El grupo de trabajo se caracteriza por ser comprometido, generoso,
            compasivo y un excelente sentido del humor.
          </p>
          <div class="row gtr-50">
            <div class="col-4">
              <a href="#" class="image fit ImagenPersona"><img src="images/Personas/4.jpeg" alt="" /></a>
            </div>
            <div class="col-8">
              <h4>Nathaly Juliana Castillo Valderrama</h4>
              <p>
                Responsable y comprometida con la comunidad, dispuesta a ayudar a sus compañeros y miembros de la
                comunidad
                aportando con sus conocimientos en pro de mejorar las condiciones de la comunidad.
                <br><br><br> ncastillo45@unisalle.edu.co
              </p>
            </div>
            <div class="col-4">
              <a href="#" class="image fit ImagenPersona"><img src="images/Personas/5.jpeg" alt="" /></a>
            </div>
            <div class="col-8">
              <h4>Willson Smith Ortega Martinez</h4>
              <p>
                Servicial y con gran sentido del humor, con la capacidad de ayudar a las personas cuando lo necesitan,
                razones por las cuales
                esta dispuesto a aportar desde sus conocimientos.
                <br><br><br> Wortega81@unisalle.edu.co
              </p>
            </div>
            <div class="col-4">
              <a href="#" class="image fit ImagenPersona"><img src="images/Personas/1.jpeg" alt="" /></a>
            </div>
            <div class="col-8">
              <h4>María Camila Villaruel Cruz</h4>
              <p>
                Se caracteriza por sus grandes ideas y aspirasiones, dedicada a sus labores como profesional,
                entregada a servir a comunidades y personas desde sus conocimientos.
                <br><br><br> mvillaruel95@unisalle.edu.co
              </p>
            </div>
            <div class="col-4">
              <a href="#" class="image fit ImagenPersona"><img src="images/Personas/w.jpg" alt="" /></a>
            </div>
            <div class="col-8">
              <h4>Yeferson Stiven Mendez Torres</h4>
              <p>
                Dedicado y Perfeccionista, siempre dado a el dialogo con la comunidad
                y se entrega de lleno a el desarrollo de las activdades asignadas.
                <br><br><br> ymendez66@unisalle.edu.co
              </p>
            </div>
            <div class="col-4">
              <a href="#" class="image fit ImagenPersona"><img src="images/Personas/2.jpeg" alt="" /></a>
            </div>
            <div class="col-8">
              <h4>Laura Milena Rubiano Camacho</h4>
              <p>
                Emprendedora y líder innata, aprovecha oportunidades para beficios en común, directa y rápida con la
                comunicación.
                <br><br><br> lrubiano07@unisalle.edu.co
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
