<!-- Banner -->
<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <p style="color: #fff;">Conoce a la Comunidad de la vereda San Roque.</p>
    </header>
  </div>
</div>
<div class="wrapper style2" id="banner">

  <!-- Carousel -->
  <header>
    <h2><a>Grupo de Lideres</a></h2>
  </header>
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="#" class="image featured"><img src="images/Personas/P6.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P5.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P12.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P7.jpeg" alt="" /></a>
      </article>
    </div>
  </section>
  <header>
    <h2><a>Grupo de Amas de Casa</a></h2>
  </header>
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="#" class="image featured"><img src="images/Personas/P4.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P2.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P6.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P7.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P8.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P10.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P11.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P13.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P14.jpeg" alt="" /></a>
      </article>
    </div>
  </section>
  <header>
    <h2><a>Grupo de Jornaleros</a></h2>
  </header>
  <section class="carousel">
    <div class="reel">

      <article>
        <a href="#" class="image featured"><img src="images/Personas/P1.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P9.jpeg" alt="" /></a>
      </article>
      <article>
        <a href="#" class="image featured"><img src="images/Personas/P3.jpeg" alt="" /></a>
      </article>
    </div>
  </section>
</div>
