<!-- Banner -->
<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <p style="color: #fff;">Linea Del Tiempo.</p>
    </header>
  </div>
</div>
<div class="wrapper style2" id="banner">
  <div class="Genialy">
      
<div class="container-wrapper-genially"><video
    class="loader-genially" autoplay="autoplay" loop="loop" playsinline="playsInline" muted="muted">
    <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser does not
    support the video tag.</video>
  <div id="5f9cbdfbc166440ce2e1b09c" class="genially-embed"></div>
</div>
  </div>
</div>


