<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <h2 style="color: #fff;">Tecnicas Etnograficas y Estrategias Participativas.</h2>
    </header>
  </div>
</div>
<div class="wrapper style2" id="banner">
    <header>
        <h2>Tecnicas Etnograficas</h2>
      </header>
  <article id="main" class="container special">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita officia placeat vitae et dolorem accusamus, aut
      enim magni voluptas magnam similique nihil, ea itaque nesciunt illum, nobis ex veniam hic.</p>
  </article>
</div>
<hr/>
<div class="wrapper style2" id="banner">
    <header>
        <h2>Estrategias Participativas.</h2>
      </header>
  <article id="main" class="container special">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, sed veniam doloremque velit tenetur corrupti sit
      architecto earum ex nemo voluptates, temporibus, id ab aliquam expedita vitae neque quibusdam ad?</p>
  </article>
</div>
