<!-- Banner -->
<!-- Header -->
<div id="header">
  <!-- Inner -->
  <div class="inner">
    <header>
      <p style="color: #fff;">Otros entregables.</p>
    </header>
  </div>
</div>
<div class="wrapper style2" id="banner">
    <div class="Genialy">
        <div class="container-wrapper-genially"><video
            class="loader-genially" autoplay="autoplay" loop="loop" playsinline="playsInline" muted="muted">
            <source src="https://static.genial.ly/resources/panel-loader-low.mp4" type="video/mp4" />Your browser does not
            support the video tag.</video>
          <div id="5f9f8a4e89c8af0d5190224e" class="genially-embed"></div>
        </div>
    </div>
</div>



