.Logos{
    text-align: center;
}
.Logos img{
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
    vertical-align:middle;
    margin: 20px;
}
@media screen and (max-width: 736px) {

    .Logos img{
        display: block;
        width: 40%;
        background-color: rgba(255, 255, 255, 0);
        padding: 15px;
        border-radius: 10px;
        margin: 20px auto;
        margin-top: 10px;
    }
}