<!-- Header -->
<div id="header">

  <!-- Inner -->
  <div class="inner">
    <header>
      <h1><a href="index.html" id="logo" class="LogoPersonalizado">TSM GR 05
        </a></h1>
      <p class="Subtitulo">Plan de Saneamiento Básico en la vereda San Roque del municipio de Marquetalia-Caldas</p>
      <hr />
    </header>
    <div class="Logos">
      <img src="images/Logos/2.png" alt="">
      <a href="https://www.lasalle.edu.co/" target="blank"><img class="Vertical" src="images/Logos/1.png" alt=""></a>
      <img src="images/Logos/3.png" alt="">
    </div>
    <footer>
      <a href="./#MensajeImportante" class="button circled scrolly">Comenzar</a>
    </footer>
  </div>
</div>
<!-- Main -->
<div class="wrapper style2" id="banner">

  <article id="main" class="container special">
    <a href="#" class="image featured"><img src="images/Logos/4.png" id="MensajeImportante" alt="" /></a>
    <header>
      <h2><a>¿Que es saneamiento?</a></h2>
    </header>
    <p>
      Según la OMS, Saneamiento se entiende como el suministro de instalaciones y servicios que permimiten
      eliminar sin riesgo la orina y las heces, ademas del mantenimiento de buenas condicines de higiene,
      gracias a servicios como recolección de residuos sólidos y la evacuación de aguas residuales.
    </p>
  </article>
  <footer>
    <div class="SubTitulos">
      <p class="NegrillaText">Conoce los programas que hacen parte del Plan de Saneamiento Básico de la vereda San Roque
      </p>
    </div>

    <div class="ContainerCirculos">
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <div class="page">
            <div class="page__container">
              <a href="#popup-article" class="open-popup"><img src="../../../../images/Logos/Circulo1.png" alt=""></a>
            </div>
          </div>
          <div id="popup-article" class="popup">
            <div class="popup__block">
              <h1 class="popup__title" style="color: #fff ;">Conoce el eje de calidad de agua del proyecto plan de
                saneamiento básico en la vereda San Roque</h1>
              <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                  frameborder="0" width="1200px" height="675px"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  src="https://view.genial.ly/5f9e0e325d01a40d4a97fc3b" type="text/html" allowscriptaccess="always"
                  allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
              <a href="#" class="popup__close">close</a>
            </div>
          </div>
          <p>Programa de Calidad de Agua</p>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <div class="page">
            <div class="page__container">
              <a href="#popup-article1" class="open-popup"><img src="../../../../images/Logos/Circulo2.png" alt=""></a>
            </div>
          </div>
          <div id="popup-article1" class="popup">
            <div class="popup__block">
              <h1 class="popup__title" style="color: #fff ;">Conoce el eje de residuos sólidos del proyecto plan de
                saneamiento básico en la vereda San Roque</h1>
              <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                  frameborder="0" width="1200px" height="675px"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  src="https://view.genial.ly/5f9f00e80c6fbe0d0f39aa7c" type="text/html" allowscriptaccess="always"
                  allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
              <a href="#" class="popup__close">close</a>
            </div>
          </div>
          <p>Programa de Residuos Sólidos</p>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <div class="page">
            <div class="page__container">
              <a href="#popup-article2" class="open-popup"><img src="../../../../images/Logos/Circulo3.png" alt=""></a>
            </div>
          </div>
          <div id="popup-article2" class="popup">
            <div class="popup__block">
              <h1 class="popup__title" style="color: #fff ;">Conoce el eje de plagas y vectores del proyecto plan de
                saneamiento básico en la vereda San Roque</h1>
              <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                  frameborder="0" width="1200px" height="675px"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  src="https://view.genial.ly/5f9f6e72918e3b0d2a834415" type="text/html" allowscriptaccess="always"
                  allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
              <a href="#" class="popup__close">close</a>
            </div>
          </div>
          <p>Programa de Plagas y Vectores</p>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <div class="page">
            <div class="page__container">
              <a href="#popup-article3" class="open-popup"><img src="../../../../images/Logos/Circulo4.png" alt=""></a>
            </div>
          </div>
          <div id="popup-article3" class="popup">
            <div class="popup__block">
              <h1 class="popup__title" style="color: #fff ;">Conoce el eje de aguas residuales del proyecto plan de
                saneamiento básico en la vereda San Roque</h1>
              <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                  frameborder="0" width="1200px" height="675px"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  src="https://view.genial.ly/5f9f18df918e3b0d2a833da4" type="text/html" allowscriptaccess="always"
                  allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
              <a href="#" class="popup__close">close</a>
            </div>
          </div>
          <p>Programa de Aguas Residuales</p>
        </div>
      </div>
      <div class="TituloImagen">
        <div class="DecripcionTitulo">
          <div class="page">
            <div class="page__container">
              <a href="#popup-article4" class="open-popup"><img src="../../../../images/Logos/Circulo5.png" alt=""></a>
            </div>
          </div>
          <div id="popup-article4" class="popup">
            <div class="popup__block">
              <h1 class="popup__title" style="color: #fff ;">Conoce el eje de aguas residuales del proyecto plan de
                saneamiento básico en la vereda San Roque</h1>
              <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                  frameborder="0" width="1200px" height="675px"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  src="https://view.genial.ly/5f9f3c535210480d31d80940" type="text/html" allowscriptaccess="always"
                  allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
              <a href="#" class="popup__close">close</a>
            </div>
          </div>
          <p>Programa de Limpieza y Desinfección</p>
        </div>
      </div>
    </div>
  </footer>
</div>
